{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}
    <h1 class="my-4">
        Welcome to Videotube
    </h1>

    <div class="row gy-4">
        {% for video in videos %}
            <div class="col-md-6 col-xl-4">
                {{ include('cards/video.html.twig') }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
