{% extends 'base.html.twig' %}

{% block title %}Edit Video{% endblock %}

{% block body %}
    <h1>Edit Video</h1>

    {{ include('admin/video/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_video_index') }}" class="btn btn-light">back to list</a>

    {{ include('admin/video/_delete_form.html.twig') }}
{% endblock %}
