{% extends 'base.html.twig' %}

{% block title %}New Video{% endblock %}

{% block body %}
    <h1>Create new Video</h1>

    {{ include('admin/video/_form.html.twig') }}

    <a href="{{ path('admin_video_index') }}" class="btn btn-light">back to list</a>
{% endblock %}
